body {  
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; font-style: normal; 
  font-weight: normal; 
  color: #a59f85;
  background-image: url("http://www.planeshift.it/graphics/bg.jpg");
  background-repeat: repeat-x;
  background-color: #000;
  padding: 0;
  margin: 0;           
}     

a {
  color: #f3dd81;
  font-weight:bold;
  text-decoration: none;
}

#page {
  background-image:  url("http://www.planeshift.it/graphics/contentbox.gif");
  background-repeat: repeat-y;
  position: absolute;
  width: 891px;
  height: 1180px;
  left: 50%;
  margin-left: -445px;
}

#centerbox {
  position: absolute;
  left: 50%;
  width: 891px;
  margin-left: -445px;
}

#header {
  position: absolute;
  left: 0px;
  top: 0px;
}

#header img {
  height: 104px;
  width: 891px;
  border: 0;
}

#navigation {
  position: absolute;
  top: 104px;
  width: 200px;
  padding: 10px 0 10px 0;
  margin: 0 0 0 45px;
  text-align: center;
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 -1px;
  text-align: left;
}

#navigation ul li ul li{
  background: none;
  padding: 0 0 0 15px;
}      

#navigation ul li ul li a:hover {
  color: #FFFFFF;
  background-color: #993300;
}      

#navigation ul li{
  padding: 0 0 0 15px;
}

#footer {
  background-image: url("../img/contentbottom.gif");
  background-repeat: no-repeat;
  width: 891px;
  height: 88px;
  position: absolute;
  left: 45px;
  top: 1100px;
}

#toperror
{
  width: 100%;
  left:250px;
  top:100px;
  position: absolute;
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.downloadnow{
  position: relative;
  left: -13px;
  margin-bottom: 20px;
}

.copyright{
  margin-top: 2em;
  text-align: center;
  width: 100%;
  margin-left: 80px;
  color: #434242;
}

.copyright a{
  color: #434242;
  font-weight: normal;
  text-decoration: underline;
}

#content {
  position: absolute;
  left: 225px;
  margin: 120px 0 0 0 ;
  width: 648px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif; 
}

.registerlinks {
  margin-top: 5em;
}

.registerlinks ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.registerlinks ul li{
  margin: 0;
  padding: 1em 0 0 0 ;
}

.expandcolapse {
  margin-bottom: 20px;
  margin-left: -25px;
}

.expandcolapse a {
  font-family: Arial;
  font-size: 10px;
}      

.tip {  
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-style: italic; 
  color: #0CC;
}

.yellowtitle {  
  font-family: "Times New Roman", Times, serif; 
  font-size: 14px; font-style: normal; 
  font-weight: bold; 
  color: #FC0;
}

.yellowtitlebig { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 16px; 
  font-style: normal; 
  font-weight: bold; 
  color: #FC0;
}

.testo { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-weight: normal; 
  color: #0CF;
}

.pinktitle {  
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-weight: bold; 
  color: #909;
}

.treeview ul{ 
  margin: 0;
  padding: 0;
}
 
.treeview li{ 
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 3px;
}
 
.treeview li.submenu{ 
  cursor: pointer;
}
 
 
.treeview li.submenu ul{ 
  display: none; 
}
 
.treeview .submenu ul li{ 
  cursor: default;
}

.error
{
  font-weight: bold;
  padding: 1em;
  color: red;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}


