.register
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ruler
{
  width: 260px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.email
{
  padding: 0 2em 2em 2em;
}

.email input {
  margin-left: 1em;
}

.submit {
  margin-bottom: 100px;
}

