body{
  background-color:#052F2E;
  color:#57B9CB;
}

a:link {
  color:white;
  text-decoration: none;
}     /* unvisited link */
a:visited {
  color:white;
  text-decoration: none;
}  /* visited link */
a:hover {color: #FF00FF}   /* mouse over link */
a:active {color: #0000FF}   /* selected link */

div.container{
  min-width:700px;
  width:100%;
  margin:0px;
}

div.footer{
  clear:left;
  text-align:center;
  font-family:serif;
  font-size:small;
}

div.menu_left{
  float:left;
  clear:left;
  margin-right:10px;
  text-transform:capitalize;
  font-size:medium;
  border:medium solid gray;
  width:160px;
  line-height:200%;
}

div.menu_npc{
  float:left;
  padding-right:10px;
  text-transform:capitalize;
  font-size:medium;
  border:thin solid gray;
  width:90px;
  line-height:200%;
}

div.main_npc{
  margin-left:100px;
  display:block;
}


div.menu{
  font-size:large;
  text-align:center;
  text-transform:capitalize;
  margin-top:10px;
  margin-bottom:10px;
}

div.main{
  margin-left:180px;
  display:block;
}

/* the following turn divs into tables */
.table{
    display:table;
    border:1px solid;
    border-spacing:1px;
    padding:1px 1px 1px 1px;
}

.table_no_border{
    display:table;
    border-spacing:1px;
    padding:1px 1px 1px 1px;
}

.tr{
    display:table-row;
}

.td{
    display:table-cell;
    border:1px solid;
    padding:6px 6px 6px 6px;
    vertical-align: middle;
}

.td_no_border{
    display:table-cell;
    padding:6px 6px 6px 6px;
    vertical-align: middle;
}

.th{
    display:table-cell;
    font-weight:bold;
    text-align: center;
    border:1px solid;
    padding:6px 6px 6px 6px;
    vertical-align: middle;
}
/* end divs into tables */

/* the following are used to create frozen columns and floating table headers */
.scrollingtablediv {
    overflow-x:scroll;
    width:100%;
}

.scrollingtbody {
    display:block;
    overflow-y:scroll;
    height:350px;
}

.scrollingthead {
    display:block;
}

.firstfrozencol {
    position:relative;
}

.secondfrozencol{
    position:relative;
}

.color_a{
  background:#003344;
}

.color_b{
  background:#003300;
}

/* end styles used to create frozen columns and floating table headers */

th{
  text-transform:capitalize;
}

th.item_wide{
  min-width:140px;
}

tr.color_a{
  background-color:#003344;
}

tr.color_b{
  background-color:#003300;
}

td, th{
  padding:6px 6px 6px 6px;
}

.center{
  text-align:center;
}

.center_element{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.align_left {
    text-align:left;
}

.align_right{
    text-align:right;
}

.top{
  vertical-align:top;
}

.header{
  font-size:xx-large;
  text-transform:capitalize;
}

.bold{
  font-weight:bold;
}

.error{
  color:red;
}

.warning{
  color:#FFFF00;
}

p.error{
  color:red;
}

a:link{
  color:white;
}

a:visited{
  color:white;
}

a:active{
  color:white;
}

.red{
  color:red;
}
