body{
  background-color:#052F2E;
  color:#57B9CB;
}

a:link {
  color:white;
  text-decoration: none;
}     /* unvisited link */
a:visited {
  color:white;
  text-decoration: none;
}  /* visited link */
a:hover {color: #FF00FF}   /* mouse over link */
a:active {color: #0000FF}   /* selected link */

div.container{
  min-width:700px;
  width:100%;
  margin:0px;
}

div.footer{
  clear:left;
  text-align:center;
  font-family:serif;
  font-size:small;
}

div.menu_left{
  float:left;
  clear:left;
  margin-right:10px;
  text-transform:capitalize;
  font-size:medium;
  border:medium solid gray;
  width:160px;
  line-height:200%;
}

div.menu_npc{
  float:left;
  padding-right:10px;
  text-transform:capitalize;
  font-size:medium;
  border:thin solid gray;
  width:90px;
  line-height:200%;
}

div.main_npc{
  margin-left:100px;
  display:block;
}


div.menu{
  font-size:large;
  text-align:center;
  text-transform:capitalize;
  margin-top:10px;
  margin-bottom:10px;
}

div.main{
  margin-left:180px;
  display:block;
}

th{
  text-transform:capitalize;
}

th.item_wide{
  min-width:140px;
}

tr.color_a{
  background-color:#003344;
}

tr.color_b{
  background-color:#003300;
}

td{
  padding:0.4em 0.4em 0.4em 0.4em;
}

.center{
  text-align:center;
}

.top{
  vertical-align:top;
}

.header{
  font-size:xx-large;
  text-transform:capitalize;
}

.bold{
  font-weight:bold;
}

.error{
  color:red;
}

p.error{
  color:red;
}

a:link{
  color:white;
}

a:visited{
  color:white;
}

a:active{
  color:white;
}

.red{
  color:red;
}
